
footer {
	.ft{
		background-color: $colorTransparente;
	    border-radius: 20px;
		box-shadow: 0px 0px 5px gray;
		margin-bottom: 15px;
		ul {
			li{
				display: inline-block;
				a {
					color: black;
					box-shadow: 0px 0px 5px gray;
					text-decoration: none;
					border-radius: 20px;
					padding: 5px 1px;
					margin: 0 1px;
					transition: all 1s;
					&:hover {
						color: black;
						box-shadow: 1px 1px 15px $colorAgua;
						background-color: $colorTransparenteMedio;
						transition: all 1s;
					}
				}
			}
		}
		.redes {
			display: flex;
			align-items: center;
			justify-content: center;
			ul {
				li {
					display: inline-block;
					margin: 0 0px;
					width: 30px;
					height: 30px;
					text-align: center;
					a {
						display: block;
						padding: 0px 0px;
						background-color: $colorTransparente;
						color: black;
						line-height: 30px;
						font-size: 16x;
						box-shadow: 0 3px 5px 0px gray;
						transition: .2s;
						&:hover {
							color: white;
							transform: translateY(-3px) scale(1.05);
							box-shadow: 0 5px 5px 0px black;
							filter: none;
						}
					}
					.fb {
						&:hover {
							background: $fb;
						}
					}
					.ig {
						&:hover {
							background: $ig;
						}
					}
					.tw {
						&:hover {
							background: $tw;
						}
					}
					.wp {
						&:hover {
							background: $wp;
						}
					}
					.lk {
						&:hover {
							background: $lk;
						}
					}
				}
				&:hover {
					a {
						filter: blur(2px);
					}
				}
			}
		}
	}
	img {
		@include logosm;
		display: inline-block;
		margin: 0 5px;
		transition: all 4s;
		&:hover{
			transform: rotate(4680deg);
		}

	}
	h6{
		display: inline-block;
	}
}